* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: left;
    font-family: 'Reboto Condensed', sans-serif;
    font-size: 2rem;
    margin-left: 1rem;
    color: #ffffff;
}


header {
    background-color: #1B065E;
    width: 100%;
    padding: 1rem;
}

main {
    margin: 1rem;
    padding: 1rem;
}

main h1 {
    font-size: 1.5rem;
    margin: 1rem;
    color: #1B065E;
    font-family: 'Reboto Condensed', sans-serif;
    text-align: center;
}

main figure {
    display: grid;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main figure img {
    width: 300px;
    padding: 1rem;
}

figcaption {
    font-size: 1rem;
}


nav {
    max-width: 700px;
    margin: 0.5rem auto;
}

/* Nav view*/
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #ffffff;
    position: absolute;
    top: 1rem;
    right: 2rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

nav.show {
    display: block;
}

nav ul li a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color:#ffffff;
    font-family: 'Oswald', sans-serif;
}

nav ul li a:hover {
    background-color: #ffffff;
    color: #1B065E;
    border-bottom: 2px solid #ffffff;
}

/*click in button so: */
.open a {
    display: block;
}

.stuff {
    margin: 0.5rem;
    border: 1px solid rgb(0, 0, 0 / 0.1);
    background-color: #1B065E;
    max-width: 580px;
    height: 100vh;
}

footer {
    background-color: #1B065E;
    align-content: center;
}

footer p {
    text-align: center;
    color: #ffffff;
    font-size: 15px;
}

@media screen and (max-width: 500px) {
    nav ul {
        display: none;
        flex-direction: column;
        justify-content: space-around;
        list-style: none;
        background-color: #1B065E;
    }
    
    nav.show ul {
        display: flex;
    }

    h1 {
        text-align: center;
    }


    nav ul li a:hover {
        background-color: #1B065E;
        color: #ffffff;
        border-bottom: 2px solid #ffffff;
    }


    #menu {
        display: block;
    }

    main {
        grid-template-columns: 1fr;
    }
}